#h1{
  text-align: center;
}#i1
{
  font-size: 25px;
  color: black;
}
#i2
{
  font-size: 25px;
  color:red;
}
.navbar {
top:0px;
width:100%;
margin:0 auto;
background-color:rgba(255,255,255,0.5);
text-align: center;
border-radius:63px;
padding:0px;
}
.navbar ul li{
list-style:none;
display:inline-block;
}
.navbar ul li a{
display: block;
text-decoration: none;
padding: 5px 50px;
font-size:20px;
text-transform: uppercase;
font-weight:300;
color:#323642;
transition:background-color 0.5s ease;

}
nav ul li a:hover{
background-color:rgba(255,255,255,0.5);
}

* {box-sizing: border-box;}

.image {
margin: 0;
font-family: Arial, Helvetica, sans-serif;

background-image: url("src/assets/images/h.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height:800px;
width:100%;


}

.glyphicon-border{
  border: 3px solid#001;
  padding:15px;
  
  border-radius: 900px;
  font-size:10px;
}


@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }
  .navbar a, .navbar input[type=text], .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;  
  }
}