<br><br><br><br><br><br><br>
<div class="container">
   
<form [formGroup]="buyerform" >
    <div class="text-center" id="s1">
        <input type="text" class="search" aria-label="Search" formControlName="itemName">
        <button class="btn btn-primary" type="submit" (click)="Search()">Search</button>
    </div>
    
    </form>

</div>
<br><br><br>
<!-- <br><br><br>
<div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of itemlist">
          <div class="card "  >
            <h5 class="card-title"  >{{item.itemname}}</h5>
             <img class="card-img " id="i1" src="assets/images/{{item.image}}" alt="Card image cap"> 
              <div class="card-body" >
                <!-- ItemId:{{item.itemId}}<br/>
                CategoryId:{{item.categoryId}}<br/>
                SubCategoryId:{{item.subcategoryId}}<br/>
                 SellerId: {{item.sellerId}}<br/> -->
                 <!-- Price: {{item.price}}<br/>
                  Description:{{item.description}}<br/>
                  Stock Number:{{item.stockNumber}}<br/>
                  Remarks:{{item.remarks}}     
            </div>
            <div class="card-footer">
              <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="Buy(item)" >Buy </button>
                <button type="button" class="btn btn-primary"(click)="AddtoCart(item)">AddToCart</button> 
            </div>
            </div>     
          </div>
          <br>
        </div>
      </div>
    </div>
    <br><br><br> --> -->
    <div class="container" id="c1">
        <div class="row">
        <div class="card-deck" *ngFor="let item of itemlist">
        <div class="card">
          <img  src="assets/images/{{item.image}}" alt="{{item.itemName}}" height="100px" align-items="center" width="200px">
          <div class="card-body">
              <!-- <img src="{{assets/images/item.image}}"><br> -->
            ItemName:{{item.itemName}}<br><br>
            Price: {{item.price}}<br/><br>
            Description:{{item.description}}<br/><br/>  
            <button type="button" class="btn btn-primary" (click)="Buy(item)">Buy </button>&nbsp;
            <button type="button" class="btn btn-primary"(click)="AddtoCart(item)">AddToCart</button> 
            </div>
            </div>
            <br>
        </div>
        </div>
        </div>
        