<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<div class="container-fluid">
  <div class="image">
    
    <div class="row">
        <nav class="navbar navbar-expand-lg ">
       <div class="collapse navbar-collapse" id="navbarText">
         <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/seller']"><span class="glyphicon glyphicon-home"></span>Seller</a>
          </li>
           <li class="nav-item ">
             <a class="nav-link" [routerLink]="'additems'"><span class="glyphicon glyphicon-shopping-cart"></span> AddItems</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" [routerLink]="'viewitems'"><span class="glyphicon glyphicon-eye-open"></span> ViewItems </a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'viewreports'"><span class="glyphicon glyphicon-eye-open"></span> ViewReports </a>
          </li>  
          </ul>
        </div>
           <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'editprofile'"><span class="glyphicon glyphicon-user glyphicon-border"></span> </a>
            </li>  
             <li class="nav-item">
               <a class="nav-link" [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
             </li>
          </ul>
          </nav>
        </div>
     
    <div class="row">
      <div class="col-lg-4">
          <div class="sidebar ">
              <a [routerLink]="'additems'"><span class="glyphicon glyphicon-shopping-cart"></span> Add Items</a><br><br>
              <a [routerLink]="'viewitems'"><span class="glyphicon glyphicon-eye-open"></span>  View Items</a><br><br>
              <a [routerLink]="'viewreports'"><span class="glyphicon glyphicon-record"></span> View Reports</a>
          </div>
      </div>
      <div class="col-lg-5" id=a1>
        <router-outlet></router-outlet> 
      </div>
    </div>
</div>
</div>