<br><br><br><br>
<div class="container">
<div class='bold-line'></div>
      <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
          <div class='welcome'>Add Category</div>
          <form [formGroup]="addcatgForm" (ngSubmit)="onSubmit()">
            <div class="input-fields">
                <label>Category Name</label>
                <input type="text" formControlName="categoryName" placeholder="Enter Category Name" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }" />
                <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback">
                <div *ngIf="f.categoryName.errors.required">Category Name is required</div>
                <div *ngIf="f.categoryName.errors.pattern">Enter a Proper Category Name </div>
                </div>
                <label>Brief(optional)</label>
                <textarea formControlName="briefDetails" placeholder="Enter brief about Category" class="form-control input-line full-width" ></textarea>
                
                
            </div>
              <br><br>
            <div class="text-center">
              <button class="ghost-round full-width " >Add</button>
              <button class="ghost-round full-width " type="button" (click)="Delete()" id=b2>Delete</button>
              <button class="ghost-round full-width " type="reset" (click)="onReset()" id=b2>Reset</button>
            </div>
                 
          </form>
        </div>
      </div>

    </div>



